$color_1: #ffffff;
$color_2: #bbbbbb;
$color_3: #2196f3;
$font_family_1: Arial, Helvetica, sans-serif;
$background_color_1: #2196f3;
$background_color_2: #ffffff;
$border_color_1: #2196f3;

.panel {
	border: none;
	border-radius: 2px;
	margin-bottom: 40px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	>.list-group {
		margin-bottom: 0;
		.list-group-item {
			border-width: 1px 0;
			border-radius: 0;
		}
	}
	>.panel-collapse {
		>.list-group {
			margin-bottom: 0;
			.list-group-item {
				border-width: 1px 0;
				border-radius: 0;
			}
		}
	}
}
.container-fluid {
	top: 65px;
	left: 0px;
	width: 100%;
	overflow-x: auto;
	height: 543px;
	max-height: 493px;
}
.panel-primary {
	>.panel-heading {
		color: $color_1;
		background-color: $background_color_1;
		border-color: $border_color_1;
	}
}
.panel-body {
	padding: 15px;
	font-family: $font_family_1;
}
.list-group-item-heading {
	margin-top: 0;
	margin-bottom: 5px;
	font-family: $font_family_1;
}
.list-group-item-text {
	color: $color_2;
	font-family: $font_family_1;
}
a {
	color: $color_3;
	text-decoration: none;
	transition: all 0.2s;
}
h6 {
	font-size: 14px;
}
.list-group-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: $background_color_2;
	border: 1px solid #dddddd;
	padding: 15px;
	font-family: $font_family_1;
}
