<div class="container-fluid">
  <div class="panel panel-primary">
    <h4 class="panel-heading">Credits</h4>
    <div class="panel-body">
      Sincere thanks to everyone in list below.
    </div>
    <div class="list-group">
      <div class="list-group-item">
        <h6 class="list-group-item-heading"> Andy Hutchinson</h6>
        <p class="list-group-item-text">
          We were loving what
          <a href="https://github.com/codehutch" target="_blank">Andy</a> did with his
          <a href="https://github.com/codehutch/sIndent" target="_blank">sIndent</a> lib, and it was prime motivation to start this chrome extension.
        </p>
      </div>
      <div class="list-group-item">
        <h6 class="list-group-item-heading">Badan Singh Pundeer</h6>
        <p class="list-group-item-text">
          After discussion with Badan about idea of this extension, it was his passion to work in spare time and weekends on to reach
          a working prototype and releasing the final product.
        </p>
      </div>
      <div class="list-group-item">
        <h6 class="list-group-item-heading">Nitesh Mali</h6>
        <p class="list-group-item-text">
          Nitesh is lead developer of event monitoring module.
        </p>
      </div>
      <div class="list-group-item">
        <h6 class="list-group-item-heading">Team Concretio</h6>
        <p class="list-group-item-text">
          They were first to motivate and appreciate the concept, and started testing the plugin in infancy stages.
        </p>
      </div>
      <div class="list-group-item">
        <h6 class="list-group-item-heading">Abhinav Gupta</h6>
        <p class="list-group-item-text">
          He is the one behind idea of login/oauth less plugin for chrome, which will offer tools like debug log viewer, schema browser
          and many more. He contributed his spare time, and weekends over this plugin.
        </p>
      </div>
      <div class="list-group-item">
        <h6 class="list-group-item-heading">
          <a href="https://twitter.com/karanrajs" target="_blank">Karanraj</a>
          and
          <a href="https://twitter.com/OyeCode" target="_blank">Harshit</a>
        </h6>
        <p class="list-group-item-text">
          Thank you for helping us in finding/debugging corner cases and reporting various other glitches with the extension.
        </p>
      </div>
    </div>
  </div>
</div>