@import "../widget.scss";

input[type=text],
input[type=number],
.ui-inputtext.ui-widget.ui-state-default.ui-corner-all {
    @extend .input-design;
    @extend .disable;
    @extend .read-only;
    &.big {
        font-size: $item;
    }
    &.medium {
        font-size: $name;
    }
    &.small {
        font-size: $switch-title;
    }
}