<div class="registration-container">
    <cbp-toolbar></cbp-toolbar>
    <div class="registration-card">
        <cbp-card [label]="'NEW_FLEET_REGISTRATION'">
            <div fxLayout="column">
                <div fxLayout="column">
                    <cbp-input-field-text [disabled]="this.ownedBusiness" mandatory="true" icon="mdi-bank" fxFlex [label]="'ORGANISATION_NAME'" [(model)]="organisation.organisationName" [placeholder]="'ENTER_ORGANISATION_NAME'| translate" (modelChange)="searchOrganisation()"></cbp-input-field-text>
                    <cbp-input-field-text mandatory="true" icon="mdi-bank" fxFlex [label]="'FLEET_NAME'" [(model)]="fleet.fleetName" [placeholder]="'ENTER_FLEET_NAME'| translate"
                    ></cbp-input-field-text>
                    <cbp-input-field-text fxFlex icon="mdi-format-align-left" [label]="'DESCRIPTION'" [(model)]="fleet.description" [placeholder]="'ENTER_DESCRIPTION'|translate"
                    ></cbp-input-field-text>
                </div>

                <div fxLayout="row">
                    <cbp-input-field-options label="COUNTRY" [value]="currentCountry" [list]="countries" [placeH]="'ENTER_COUNTRY' | translate" [disabled]="!countries.length"
                                             showFilter="true" mandatory="true" fxFlex (selected)="setCountry($event)"></cbp-input-field-options>
                    <cbp-input-field-options label="TIMEZONE" [value]="currentTimezone" [list]="timezones" [placeH]="'SELECT_TIMEZONE' | translate" [disabled]="!countries.length"
                                             showFilter="true" mandatory="true" fxFlex (selected)="setTimezone($event)"></cbp-input-field-options>
                </div>

                <cbp-input-field-text [label]="'STREET'" [placeholder]="'ENTER_STREET'|translate" [(model)]="fleet.address.street"></cbp-input-field-text>
                <div fxLayout="row">
                    <cbp-input-field-text fxFlex [label]="'CITY'" [placeholder]="'ENTER_CITY'|translate" [(model)]="fleet.address.city"></cbp-input-field-text>
                    <cbp-input-field-text fxFlex [label]="'STATE'" [placeholder]="'ENTER_STATE'|translate" [(model)]="fleet.address.state"></cbp-input-field-text>
                </div>
                <div fxLayout="row">
                    <cbp-input-field-text fxFlex [label]="'COUNTRY'" disabled="true" [placeholder]="'ENTER_COUNTRY'|translate" [(model)]="fleet.address.county"></cbp-input-field-text>
                    <cbp-input-field-text fxFlex [label]="'ZIP_CODE'" [placeholder]="'ENTER_ZIP_CODE'|translate" [(model)]="fleet.address.postcode"></cbp-input-field-text>
                </div>
                <cbp-input-field-autocomplete-address icon="mdi-map" [label]="'SEARCH_ADDRESS_ON_MAP'" (pickedAddress)="getAutoPlaces($event)"></cbp-input-field-autocomplete-address>
                <div class="map-container" fxFlex>
                    <p-gmap #gmap id="gmap" [style]="{'width':'100%','height':'320px'}" *ngIf="showMap" [options]="options" [overlays]="overlays"
                            (onOverlayDragEnd)="handleDragEnd($event,this)" (onMapReady)="setMap($event)"></p-gmap>
                </div>

                <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" style="margin:12px;margin-top:12px">
                    <cbp-flat-button [label]="'CANCEL'" [routerLink]="'/load'"></cbp-flat-button>
                    <cbp-button [label]="'SAVE'" [disabled]="!goForFleet()" (click)="saveOrg()"></cbp-button>
                </div>
            </div>
        </cbp-card>
    </div>
</div>
<cbp-circular-progress [showDialog]="showDialog" [message]="'PLEASE_WAIT'"></cbp-circular-progress>
