// http://bradsknutson.com/blog/css-sliding-underline/
// https://codepen.io/rm/pen/ldhon
.tab-bar {
    /*background: #FF5800;*/
    background: white;
    color: rgba(0, 0, 0, 0.75);
    // box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
    .tab-item {
        height: 48px;
        .tab-icon {
            font-size: 16px;
            margin: 8px;
            cursor: pointer;
            color: rgba(0, 0, 0, 0.6);
        }
        .tab-title {
            font-size: 14px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.6);
            text-align: center;
            span {
                padding: 5px;
            }
        }
        &.active {
            font-weight: bold;
            border-bottom: 4px solid #2196f3;
            color: rgba(0, 0, 0, 0.8);
        }
        &:hover {
            background: #f1f1f1;
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
    .ripple {
        position: relative;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            pointer-events: none;
            background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
            background-repeat: no-repeat;
            background-position: 50%;
            transform: scale(10, 10);
            opacity: 0;
            transition: transform .5s, opacity 1s;
        }
        &:active:after {
            transform: scale(0, 0);
            opacity: .2;
            transition: 0s;
        }
    }
}
