@import "../../styles/shadow.scss";

.search-container {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
    &:focus-within {
        @include md-whiteframe-1dp();
        background-color: #f6f9fc;
    }
    color: #212121 !important;
    height: 30px;
    background-color: #f1f1f1;
    // border: 1px solid #d1d1d1;
    overflow: hidden;
    cursor: text;
    white-space: nowrap;
    padding: 5px;
    margin: 0 0 2px;
    .mdi {
        font-size: 16px;
    }
    .search-box {
        color: #767676;
        font-size: 14px;
        font-weight: 300;
        line-height: 34px;
        background: transparent;
        border: 0;
        cursor: text;
        outline: none;
        padding: 7px 8px 6px;
        width: calc(100% - 50px);
    }
}
