.item {
    display: block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
    font-size: 18px;
    margin: 5px;
    height: 52px;
    padding-left: 11px;
    &.sub {
        padding-left: 24px;
        font-size: 12px;
        &.active {
            background: #f1f1f1;
            font-weight: bold;
            padding-left: 20px;
            color: rgba(0, 0, 0, 0.8);
        }
        i {
            font-size: 20px;
        }
    }
    i {
        font-size: 24px;
    }
    span {
        margin-left: 12px;
    }
    &.active {
        font-weight: bold;
        padding-left: 8px;
        color: rgba(0, 0, 0, 0.8);
    }
    &.no-link {
        border-left: none;
        padding-left: 12px;
    }
    &.selected {
        border-left: 4px solid rgb(240, 130, 0);
        padding-left: 8px;
    }
    &.disabled {
        cursor: not-allowed;
    }
    &:hover:not(.disabled) {
        background: #f1f1f1;
        cursor: pointer;
    }
}
