<div class="home-container">
    <div class="dashboard-header" fxLayout="column">
        <div fxLayout="row">
            <div class="metrics" fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="column">
                    <span>From</span>
                    <p-calendar [(ngModel)]="fromRangeDates" (onSelect)="fromDateValues($event)" selectionMode="single" [readonlyInput]="true"></p-calendar>
                </div>
                <div fxLayout="column" style="margin-left: 20px">
                    <span>To</span>
                    <p-calendar [(ngModel)]="toRangeDates" (onSelect)="toDateValues($event)" selectionMode="single" [readonlyInput]="true"></p-calendar>
                </div>
                <div fxLayout="column" style="margin-left: 20px">
                    <span>Event Type</span>
                    <p-dropdown [options]="config" (onChange)="setEventType($event)"></p-dropdown>
                </div>
                <div fxLayout="column" style="margin-left: 20px; margin-top: 17px;">
                    <app-button label="APPLY" (click)="choose()"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>


<p-table [value]="events$" [paginator]="true" paginatorPosition  = "top"  selectionMode="single" [rows]="10"
    loadingIcon="fa-circle-o-notch" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th>Actions</th>
            <th>Event Type</th>
            <th>Log Date</th>
            <th>Log Size (in bytes)</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-events>
        <tr [pSelectableRow]="all">
            <td>
                <div class="social-icons">
                    <a class="social-icon social-icon--codepen" (click)="downloadLogs(events)" download>
                        <i class="fa fa-cloud-download"></i>
                        <div class="tooltip">Download</div>
                    </a>
                    <a class="social-icon social-icon--github" *ngIf="events.EventType==='Login'">
                        <i class="fa fa-bar-chart"></i>
                        <div class="tooltip">Login</div>
                    </a>
                </div>
            </td>

            <td>{{events.EventType}}</td>
            <td>{{events.LogDate | date}}</td>
            <td>{{events.LogFileLength}}</td>
        </tr>
    </ng-template>
</p-table>