<nav class="navbar navbar-default">
  <div class="navbar">
    <ul class="nav navbar-nav">
      <a class="navbar-brand" href="http://concret.io" target="_blank" style="padding:0px;outline:0;">
        <img class="img" src="../../assets/logo.png" />
      </a>
    </ul>
    <div class="navbar-header" style="float: left;" *ngFor="let menuItem of menu">
      <app-list-item *ngIf="!menuItem.children && menuItem.active" [label]="menuItem.name" [icon]="menuItem.icon" [path]="menuItem.path"></app-list-item>
    </div>
    <ul class="nav navbar-nav navbar-right" style="margin-right:10px;">
      <li>
        <a (click)="go()" style="font-size: 14px">
          <span class="fa fa-share-alt" style="color: #2196f3">
          </span> {{label}}</a>
      </li>
    </ul>
  </div>
</nav>

<p-dialog header="Share with devs/admins !" [(visible)]="showDialog" [modal]="true" [responsive]="true" [width]="400" [height]="250"
  [minY]="70">
  <span>Hope you are liking the extension, why don't spread word about this extension and let other developers benefit as well.</span>
  <p-footer>
    <div class="dropdown">
      <button class="dropbtn">Share</button>
      <div class="dropdown-content">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://chrome.google.com/webstore/detail/salesforce-developer-tool/boadeeihehociaicnjjegenhdbifbllm/"
          target="_blank">Facebook</a>
        <a href="https://twitter.com/home?status=https://chrome.google.com/webstore/detail/salesforce-developer-tool/boadeeihehociaicnjjegenhdbifbllm/"
          target="_blank">Twitter</a>
      </div>
    </div>
    <button pButton type="button" label="Close" (click)="close()" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>