@import "../styles/colors.scss";
@import "../styles/utils";

.progress {
    border: 8px solid $progress-border;
    border-top: 8px solid $progress-border-top;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card-design {
    background: $highlight-color;
    margin: 10px 5px 3px 10px;
    min-width: 100px;
    min-height: 100px;
    box-shadow: 0 1px 3px 0 $card-shadow1, 0 1px 1px 0 $card-shadow2, 0 2px 1px -1px $card-shadow3;
    border-radius: 4px;
}

.avatar {
    max-width: 32px;
    max-height: 32px;
    margin: 5px;
    margin-right: 11px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    padding-right: 10px;
}
