@import "../styles/colors.scss";
@import "../styles/utils.scss";

.label {
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    width: 100%;
}

.input-group {
    padding: 8px;
}

.input-error {
    text-align: left;
    font-weight: bold;
    font-size: $switch-title;
}

.asterisk_input {
    &:after {
        content: "*";
        color: $asterisk;
        position: relative;
        font-size: $name;
        padding: 0 5px 0 0;
    }
}

.mdi {
    margin-right: 5px;
    font-size: $message;
    color: $label-color;
}

.big-label {
    padding: 0 0 0 16px;
    @include font-weight(bold);
}

.input-design {
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    color: $input-text-color;
    border: none;
    @include border-bottom;
    outline: 0;
    width: 100%;
    height: 24px;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: 14px;
    font-family: inherit;
    line-height: inherit;
    background-image: none;
    &:focus {
        border-color: $focus-border-color;
        border-width: 2px;
        box-shadow: none;
    }
}

.read-only {
    &:read-only {
        cursor: not-allowed;
    }
    &:-moz-read-only {
        cursor: not-allowed;
    }
}

.disable {
    &:disabled {
        opacity: 0.35;
        filter: Alpha(Opacity=35);
        background-image: none;
        cursor: not-allowed;
    }
}

.select-box {
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    color: $input-text-color;
    border: none;
    @include border-bottom;
    outline: 0;
    width: 100%;
    height: 36px;
    padding: 0;
    box-shadow: none;
    @include border-radius(0);
    font-size: $message;
    font-family: inherit;
    line-height: inherit;
    background-image: none;
    &:focus {
        outline: 0;
        border: none;
        @include border-bottom;
        @include box-shadow(none);
    }
}

.ui-dropdown.ui-widget.ui-state-default.ui-corner-all.ui-helper-clearfix {
    width: 100% !important;
}
