<div fxLayout="column" class="input-group">
    <div fxLayout="row" fxLayoutAlign="start center">
        <i *ngIf="icon" [style.color]="iconColor" class="mdi" [ngClass]="icon"></i>
        <span class="input-label">{{label | translate}}  <span class="asterisk_input" *ngIf="mandatory">  </span></span>
    </div>
    <input type="number" [placeholder]="placeholder | translate " [(ngModel)]="model" (keyup)="onInputChanged()"/>
    <span *ngIf="error" class="input-error">{{errorMessage | translate }}</span>
</div>
