<div class="home-container">
    <div class="dashboard-header">
        <div fxLayout="row">
            <div class="metrics" fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="column">
                    <app-button label="Fetch logs" (click)="choose()"></app-button>
                </div>
                <div fxLayout="column" style="margin-left: 20px">
                    <p-toggleButton (onChange)="handleChange($event)" offLabel="Watch new Logs" [onLabel]="label" [style]="{'width':'150px', 'padding': '4px'}"></p-toggleButton>
                </div>
                <div fxLayout="column" style="margin-left: 20px">
                    <app-button label="Delete cached" (click)="deleteMineCached()"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <p-table [value]="mineLogs$" [paginator]="true" [style]="{'margin-top':'10px', 'font-family': 'monospace'}" selectionMode="single"
    (onRowSelect)="goToViewPage($event)" [(selection)]="selected" [rows]="10" [responsive]="true" loadingIcon="fa-circle-o-notch"
    [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th>Actions</th>
            <th>User</th>
            <th>Operation</th>
            <th>Duration</th>
            <th>LogSize</th>
            <th>Start Time</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mine>
        <tr [pSelectableRow]="mine">
            <td>
                <div class="social-icons">
                    <a class="social-icon social-icon--codepen" (click)="downloadLogs(mine)" download>
                        <i class="fa fa-cloud-download"></i>
                        <div class="tooltip">Download</div>
                    </a>
                    <a class="social-icon social-icon--github" (click)="goToNewWindow(mine)">
                        <i class="glyphicon glyphicon-new-window"></i>
                        <div class="tooltip">New Window</div>
                    </a>
                    <a class="social-icon social-icon--twitter" (click)="goToNewTab(mine)">
                        <i class="fa fa-clone"></i>
                        <div class="tooltip">New tab</div>
                    </a>
                </div>
            </td>
            <td>{{mine.LogUser.Name}}</td>
            <td ngClass="operation">
                <span> {{mine.Operation}}</span>
                <a class="date-icon" (click)="goToViewPage($event)">
                </a>
                <td>{{mine.DurationMilliseconds}}</td>
                <td>{{mine.LogLength}}</td>
                <td >
                    <span> {{mine.StartTime | timeAgo}}</span>
                    <a class="date-icon">
                        <i class="fa fa-info-circle"></i>
                        <div class="tooltip">{{mine.StartTime | date:'dd/MM HH:mm:ss'}}</div>
                    </a>

                </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Please confirm" [(visible)]="showDialog" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200"
    [minY]="70">
    <span>Watching logs requires opening extension in a new window, are you sure ?</span>
    <p-footer>
        <button pButton type="button" label="Yes"></button>
        <button pButton type="button" label="Close" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog> -->

<p-dataView #dv [value]="mineLogs$" [loading]="loading" [paginator]="true" [rows]="5" loadingIcon="fa-circle-o-notch" paginatorPosition="both"
    [sortField]="sortField" [sortOrder]="sortOrder">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-g">
                <div class="ui-g-6 ui-md-4" style="text-align:right">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-mine pTemplate="listItem">
        <div class="ui-g" style="padding: 0em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-8 car-details">
                <div class="ui-g">
                    <!-- <div class="ui-g-2 ui-sm-6">Actions: </div>
                    <div class="ui-g-10 ui-sm-6"><b>{{car.vin}}</b></div> -->

                    <div class="ui-g-2 ui-sm-6">User: </div>
                    <div class="ui-g-10 ui-sm-6">
                        <b>{{mine.LogUser.Name}}</b>
                    </div>

                    <div class="ui-g-2 ui-sm-6">Operation: </div>
                    <div class="ui-g-10 ui-sm-6">
                        <a style="color: #2196f3" (click)="goToViewPage(mine)">
                            <b>{{mine.Operation}}</b>
                        </a>
                    </div>

                    <div class="ui-g-2 ui-sm-6">Duration: </div>
                    <div class="ui-g-10 ui-sm-6">
                        <b>{{mine.DurationMilliseconds}}</b>
                    </div>

                    <div class="ui-g-2 ui-sm-6">Log Size: </div>
                    <div class="ui-g-10 ui-sm-6">
                        <b>{{mine.LogLength}}</b>
                    </div>

                    <div class="ui-g-2 ui-sm-6">Start Time: </div>
                    <div class="ui-g-10 ui-sm-6">
                        <b>{{mine.StartTime | timeAgo}}</b>
                        <a class="date-icon">
                            <i class="fa fa-info-circle"></i>
                            <div class="tooltip">{{mine.StartTime | date:'dd/MM HH:mm:ss'}}</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-3 search-icon">
                <div class="social-icons">
                    <a class="social-icon social-icon--codepen" (click)="goToViewPage(mine)" download>
                        <i class="fa fa-eye"></i>
                        <div class="tooltip">View</div>
                    </a>
                    <a class="social-icon social-icon--codepen" (click)="downloadLogs(mine)" download>
                        <i class="fa fa-cloud-download"></i>
                        <div class="tooltip">Download</div>
                    </a>
                    <a class="social-icon social-icon--github" (click)="goToNewWindow(mine)">
                        <i class="glyphicon glyphicon-new-window"></i>
                        <div class="tooltip">New Window</div>
                    </a>
                    <a class="social-icon social-icon--twitter" (click)="goToNewTab(mine)">
                        <i class="fa fa-clone"></i>
                        <div class="tooltip">New tab</div>
                    </a>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template let-mine pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-6">
            <p-panel [header]="mine.LogUser.Name" [style]="{'text-align':'center'}">
                <div class="car-detail">

                    <div class="ui-g-2 ui-sm-6">Operation: </div>
                    <div class="ui-g-10 ui-sm-6">
                        <a style="color: #2196f3" (click)="goToViewPage(mine)">
                            <b>{{mine.Operation}}</b>
                        </a>
                    </div>

                    <div class="ui-g-2 ui-sm-6">Duration: </div>
                    <div class="ui-g-10 ui-sm-6">
                        <b>{{mine.DurationMilliseconds}}</b>
                    </div>


                </div>
                <hr class="ui-widget-content" style="border-top:0">
                <div class="social-icons">
                    <a class="social-icon social-icon--codepen" (click)="goToViewPage(mine)" download>
                        <i class="fa fa-eye"></i>
                        <div class="tooltip">View</div>
                    </a>
                    <a class="social-icon social-icon--codepen" (click)="downloadLogs(mine)" download>
                        <i class="fa fa-cloud-download"></i>
                        <div class="tooltip">Download</div>
                    </a>
                    <a class="social-icon social-icon--github" (click)="goToNewWindow(mine)">
                        <i class="glyphicon glyphicon-new-window"></i>
                        <div class="tooltip">New Window</div>
                    </a>
                    <a class="social-icon social-icon--twitter" (click)="goToNewTab(mine)">
                        <i class="fa fa-clone"></i>
                        <div class="tooltip">New tab</div>
                    </a>
                </div>
            </p-panel>
        </div>
    </ng-template>
</p-dataView>