
<div fxLayout="row">
    <div fxLayout="column" fxFlex>
        <p-dropdown [options]="config" (onChange)="setData($event)" placeholder="Select Trace Config"></p-dropdown>
    </div>
    <div fxLayout="column" fxFlex>
        <app-button label="REFRESH" (click)="fetchTraceLogs()"></app-button>
    </div>
    <div fxLayout="column" fxFlex>
        <app-button label="MANAGE DEBUG LEVELS"></app-button>
    </div>
</div>
<!-- <p-table [value]="fetchLogs$" [paginator]="true" [rows]="10" loadingIcon="fa-circle-o-notch" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th>Action</th>
            <th>User/Apex</th>
            <th>Expiration Date</th>
            <th>Debug Level</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mine>
        <tr>
            <td>
                <i class="fa fa-trash" style="font-size:18px;color:black" (click)="deleteTraceLogs(mine)" fxFlex></i>
                <i class="glyphicon glyphicon-new-window" style="font-size:18px;color:black" fxFlex></i>
            </td>
            <td>{{mine.TracedEntity.Name}}</td>
            <td>{{mine.ExpirationDate | date:'medium'}}</td>
            <td>{{mine.DebugLevel.DeveloperName}}</td>
        </tr>
    </ng-template>
</p-table>

 -->


<p-dialog header="Please confirm" [(visible)]="showDialog" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200"
    [minY]="70">
    <span>Watching logs requires opening extension in a new window, are you sure ?</span>
    <p-footer>
        <button pButton type="button" label="Yes"></button>
        <button pButton type="button" label="Close" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>


<p-dialog header="Add trigger" [(visible)]="showTriggerDialog" [modal]="true" [responsive]="true" [width]="350" [height] = "350">

                <p-autoComplete [(ngModel)]="users" [suggestions]="filtereUser$" (completeMethod)="filterUser($event)"
                     placeholder="User" [minLength]="1" fxFlex></p-autoComplete>
                <!-- <p-autoComplete [(ngModel)]="users" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)"
                    field="name" placeholder="User" [minLength]="1" fxFlex></p-autoComplete>
     -->
    <!-- <p-footer>
        <button pButton type="button" label="Yes"></button>
        <button pButton type="button" label="Close" class="ui-button-secondary"></button>
    </p-footer> -->
</p-dialog>

<!-- 
<p-dialog header="Add User" [(visible)]="showUserDialog" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200"
    [minY]="70">
    <div class="dialog" fxLayout="column">
            <div fxLayout="row">
                <p-autoComplete [(ngModel)]="users" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)"
                    field="name" placeholder="User name" [minLength]="1" fxFlex></p-autoComplete>
                <p-autoComplete [(ngModel)]="users" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)"
                    field="name" placeholder="User" [minLength]="1" fxFlex></p-autoComplete>
            </div>
        </div>
    <p-footer>
        <button pButton type="button" label="Yes"></button>
        <button pButton type="button" label="Close" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog> -->
<!-- 

<p-dialog header="Add Class" [(visible)]="showClassDialog" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200"
    [minY]="70">

    <div class="dialog" fxLayout="column">
        <div fxLayout="row">
            <p-autoComplete [(ngModel)]="users" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)"
                field="name" placeholder="User" [minLength]="1" fxFlex></p-autoComplete>
            <p-autoComplete [(ngModel)]="users" [suggestions]="filteredCountriesSingle" (completeMethod)="filterCountrySingle($event)"
                field="name" placeholder="User" [minLength]="1" fxFlex></p-autoComplete>
        </div>
    </div>
    <p-footer>
        <button pButton type="button" label="Yes"></button>
        <button pButton type="button" label="Close" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog> -->