<div class="home-container">
    <div class="dashboard-header" fxLayout="column">
        <div fxLayout="row">
            <div class="metrics" fxLayout="row" fxLayoutAlign="start center">
                <div fxLayout="column">
                    <p-dropdown [options]="config" [(ngModel)]="selected" (onChange)="setData($event)" placeholder="Select Trace Config"></p-dropdown>
                </div>
                <div fxLayout="column" style="margin-left: 20px">
                    <app-button label="REFRESH" (click)="fetchTraceLogs()"></app-button>
                </div>
                <div fxLayout="column" style="margin-left: 20px">
                    <app-button label="MANAGE DEBUG LEVELS" (click)="select()"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>


<p-table [value]="fetchLogs$" [paginator]="true" [style]="{'margin-top':'10px'}" [rows]="10"
   paginatorPosition  = "top"  loadingIcon="fa-circle-o-notch" [loading]="loading">
    <ng-template pTemplate="header">
        <tr>
            <th>Action</th>
            <th>User/Apex</th>
            <th>Expiration Date</th>
            <th>Debug Level</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mine>
        <tr>
            <td>
                <div class="social-icons">
                    <a class="social-icon social-icon--codepen" (click)="deleteTraceLogs(mine)" download>
                        <i class="fa fa-trash"></i>
                        <div class="tooltip">Delete</div>
                    </a>
                    <a class="social-icon social-icon--github" *ngIf  = "mine.LogType === 'DEVELOPER_LOG' || mine.LogType === 'USER_DEBUG'" (click)="addNewTab(mine)">
                        <i class="glyphicon glyphicon-new-window"></i>
                        <div class="tooltip">New tab</div>
                    </a>
                </div>
            </td>
            <td>{{mine.TracedEntity.Name}}</td>
            <td>{{mine.ExpirationDate | timeAgo}}</td>
            <td>{{mine.DebugLevel.DeveloperName}}</td>
        </tr>
    </ng-template>
</p-table>


<p-dialog header="Please confirm" [(visible)]="showDialog" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200"
    [minY]="70">
    <span>Managing debug levels requires a full big window, please confirm opening the same ?</span>
    <p-footer>
        <button pButton type="button" label="Yes" (click)="goToNewWindow()"></button>
        <button pButton type="button" label="Close" (click)="showDialog = false" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Add Trigger" [(visible)]="showTriggerDialog" [modal]="true" [responsive]="true" [width]="500">

    <p-autoComplete [suggestions]="filterUserForTrigger$" [emptyMessage]="emptyMessage" (completeMethod)="filterUserDataForTrigger($event)"
        placeholder="User" [minLength]="1" field="Name" (onSelect)="setUserIdForUser($event)" fxFlex></p-autoComplete>
    <p-autoComplete [suggestions]="filterDebugLevel$" [emptyMessage]="emptyMessage" (completeMethod)="filterDebugLevel($event)"
        field="DeveloperName" placeholder="Debug Level" [minLength]="1" (onSelect)="setDebugLevelId($event)" fxFlex></p-autoComplete>

    <p-footer>
        <button pButton type="button" [disabled]="!goForIgnition()" (click)="createTrigger()" label="Create"></button>
        <button type="button" pButton icon="pi pi-close" (click)="showTriggerDialog=false" label="Cancel" class="ui-button-secondary"></button>

    </p-footer>
</p-dialog>


<p-dialog header="Add User" [(visible)]="showUserDialog" [modal]="true" [responsive]="true" [width]="500">

    <p-autoComplete [suggestions]="filtereUserForUser$" [emptyMessage]="emptyMessage" (completeMethod)="filterUserDataForUser($event)"
        placeholder="User" [minLength]="1" field="Name" showClear="true" (onSelect)="setUserIdForUser($event)" fxFlex></p-autoComplete>
    <p-autoComplete [suggestions]="filterDebugLevel$" [emptyMessage]="emptyMessage" (completeMethod)="filterDebugLevel($event)"
        field="DeveloperName" placeholder="Debug Level" [minLength]="1" (onSelect)="setDebugLevelId($event)" fxFlex></p-autoComplete>
    <p-footer>
        <button pButton type="button" (click)="createUser()" [disabled]="!goForIgnition()" label="Create"></button>
        <button type="button" pButton icon="pi pi-close" (click)="showUserDialog=false" label="Cancel" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Add Class" [(visible)]="showClassDialog" [modal]="true" [responsive]="true" [width]="500">

    <p-autoComplete [suggestions]="filterUserForClass$" [(ngModel)]="remove.userName" [emptyMessage]="emptyMessage" (completeMethod)="filterUserDataForClass($event)"
        placeholder="User" [minLength]="1" field="Name" (onSelect)="setUserIdForUser($event)" fxFlex></p-autoComplete>
    <p-autoComplete [suggestions]="filterDebugLevel$" [(ngModel)]="remove.devName" [emptyMessage]="emptyMessage" (completeMethod)="filterDebugLevel($event)"
        field="DeveloperName" placeholder="Debug Level" [minLength]="1" (onSelect)="setDebugLevelId($event)" fxFlex></p-autoComplete>

    <p-footer>
        <button pButton type="button" (click)="createClass()" [disabled]="!goForIgnition()" label="Create"></button>
        <button type="button" pButton icon="pi pi-close" (click)="cancelClass()" label="Cancel" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>