.ui-autocomplete-panel 
{
    width: 100%; 
    /* max-height: 200px; */
    /* z-index: 1008; */
    opacity: 1.075;
 top: 0px;
    /* left: 0px; */
}
.ui-dialog.ui-widget .ui-dialog-content {
    /* padding: 3em 1.5em; */
    /* margin-top: 24px; */
    padding: 20px 20px 83px 23px;
}