<div class="vehicle-grid-item">
    <div class="vehicle-picture" *ngIf="!grid.make">
        <i class="mdi mdi-car car-bg"></i>
    </div>
    <div class="vehicle-picture logo-bg" *ngIf="!grid.profilePictureUrl && grid.make">
        <img [src]="getVehicleLogo(grid.make)" [alt]="grid.make"/>
    </div>
    <div class="vehicle-picture" *ngIf="grid.profilePictureUrl">
        <img [src]="grid.profilePictureUrl" alt="Vehicle Photo"/>
    </div>
    <div fxLayout="column" class="vehicle-detail">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="vehicle-name" fxLayout="column" fxFlex="50%">
                <span class="label">{{ 'VEHICLE_NAME' | translate }}</span>
                <span class="vehicle-make">
                    <i class="mdi mdi-circle  active" [ngClass]="{'active':grid.freeStatus == true}"></i>{{grid.name}}
                </span>
            </div>
            <div class="regno" fxLayout="column" fxFlex="50%">
                <span class="label">{{ 'REG_NO' | translate }}</span>
                <span class="vehicle-make">{{grid.license}}</span>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start" class="vehicle-make-model">
            <span class="vehicle-logo" *ngIf="grid.make">
                <img [src]="getVehicleLogo(grid.make)" [alt]="grid.make"/>
            </span>
            <span class="vehicle-logo" *ngIf="!grid.make">
                <i class="mdi mdi-car"></i>
            </span>
            <span class="vehicle-model">{{grid.make}} {{grid.model}} {{grid.variant}}</span>
        </div>
    </div>
    <div fxLayout="row" class="driver-detail">
        <div *ngIf="driver">
            <div class="driver-avatar" *ngIf="driver.profilePhotoURL" [ngStyle]="{ 'background-image': 'url(' + driver.profilePhotoURL + ')'}"></div>
        </div>
        <div class="driver-avatar" *ngIf="!driver || !driver.profilePhotoURL">
            <i class="mdi mdi-account"></i>
        </div>
        <cbp-svg-circular-loader *ngIf="loadingDriver"></cbp-svg-circular-loader>
        <div class="driver-info" *ngIf="!loadingDriver">
            <span class="label" *ngIf="driver">{{ 'DRIVER_NAME' | translate }}</span>
            <span class="label" *ngIf="!driver">{{ 'DRIVER_DETAILS' | translate }}</span>
            <span class="label-value">{{ driver? driver.displayname : "-"}}</span>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="bottom-btn" *ngIf="grid.responseType!='PENDING' && grid.responseType!='REJECTED'">
        <cbp-text-icon-item class="btn" [label]="'VIEW_DETAILS'" fxLayoutAlign="start" (click)='openVehicleDetail(grid)'></cbp-text-icon-item>
        <span fxFlex></span>
        <i class="mdi mdi-library-books action-icons" fxLayoutAlign="end" [pTooltip]="'LOGBOOK' | translate" tooltipPosition="bottom" (click)="openVehicleLogbook(grid)"></i>
        <i class="mdi mdi-crosshairs-gps action-icons" fxLayoutAlign="end" [pTooltip]="'LOCATE_ON_MAP' | translate" tooltipPosition="bottom" (click)="openVehicleTracking(grid)"></i>
        <i *cbpAdminOrAgentOnly class="mdi mdi-delete-forever action-icons" fxLayoutAlign="end" [pTooltip]="'REMOVE_FROM_FLEET' | translate" tooltipPosition="bottom" (click)="selectedVehicle=grid;isDialogVisible=true;"></i>

    </div>
    <div fxLayout="row" class="bottom-btn" *ngIf="grid.responseType=='PENDING'">
        <cbp-text-icon-item class="btn" [label]="'CANCEL'" (click)="cancelInvite()" fxLayoutAlign="center" fxFlex></cbp-text-icon-item>
        <cbp-text-icon-item class="btn" [label]="'SEND_REMINDER'" (click)="sendReminder()" fxLayoutAlign="center" fxFlex></cbp-text-icon-item>
    </div>
</div>

<cbp-dialog [showDialog]="isDialogVisible" (showDialogChange)="showDialogChange($event)">
    <cbp-card label="Remove Vehicle" [searching]="removingVehicle">
        <div class="dialog" fxLayout="column" fxLayoutGap="2%">
            <span fxFlex class="message" [innerHTML]="'ARE_YOU_SURE_TO_REMOVE_VEHICLE_FROM_FLEET' | translate:selectedVehicle"></span>
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="2%">
                <cbp-flat-button label="CANCEL" type="negative" style="margin-left: 30px;" [disabled]="removingVehicle" (click)="isDialogVisible=false"></cbp-flat-button>
                <cbp-flat-button label="REMOVE" type="positive" [disabled]="removingVehicle" (click)="removeFromFleet(selectedVehicle)"></cbp-flat-button>
            </div>
        </div>
    </cbp-card>
</cbp-dialog>
