@import '../../styles/shadow.scss';
@import '../../styles/utils.scss';
@import "../../widgets/widget.scss";
@import "../../widgets/general.scss";

.team-management {
    @extend .container;
    .footer-btn {
        margin: 5px 10px 10px;
    }
    .click {
        @include button-effect();
        padding: 10px 8px 6px;
    }
}

cbp-input-field-search {
    margin: 0 1rem;
}

.team-icon {
    font-size: 36px;
    color: $label-color;
}

.team {
    .mdi-account-circle {
        font-size: 24px;
        color: $label-color;
    }
    .name {
        font-size: 14px;
        margin-right: 8px;
        font-weight: bold;
        color: #555555;
    }
    .contact, .date, .join-time {
        font-size: 12px;
        @include font-weight(bold);
        color: $table-header;
    }
    .org {
        font-size: 16px;
        color: $table-header;
        &:hover, &:focus {
            @include border-bottom-color($welcome-title);
            cursor: pointer;
        }
    }
    .role {
        font-size: 14px;
        @include font-weight(bold);
        color: $label-color;
        margin: 4px 0;
    }
    .status {
        font-size: 16px;
        padding: 5px;
        min-width: 60px;
        text-align: center;
        vertical-align: center;
        border-radius: 32px;
    }
    .action {
        @include hover-shadow();
        padding: 8px;
        font-size: 24px;
    }
}
