@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700|Roboto:400,300,300italic,400italic,500,500italic,700,700italic);

/*angular csp*/
/* Include this file in your html if you are using the CSP mode. */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
  display: none !important;
}

ng\:form {
  display: block;
}



/* Sticky footer styles starts
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}


/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Sticky footer styles ends
-------------------------------------------------- */



body {
    min-width: 800px;    
	min-height: 400px;
	/* Margin bottom by footer height */
  	margin-bottom: 60px;
}

.tooltip-inner {
	background-color: #31b0d5;
	color: #F6E192;
	max-width: 380px;
	text-align: left;
	margin-top: 10px;
}

.tooltip.right .tooltip-arrow {
	border-right-color: #31b0d5;
}


.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.overlay {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	opacity: 0.3;
	-moz-opacity: 0.3;
	width: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	background: #000;
	-khtml-opacity: 0.3;
	z-index: 1000;
}
.loader {
	width: 32px;
	height: 32px;
	position: absolute;
	left: 45%;
	top: 50%;
}
/*textarea {
	width: 100%;
	margin-bottom: 5px;
}*/
.logCell {
        padding: 2px;
        border: 2px solid #fff;
}	
.logRow {	
        background-color: #eee;
}
.noClose .ui-dialog-titlebar-close {
        display: none;
}
.exception {
        background-color: #fdd;
        font-weight: bold;
}
.debug {
        background-color: #dfd;
        font-weight: bold;
}
.header {
        background-color: #ddd;
        font-weight: bold;
}

.table-hover tbody tr:hover td
{
	background-color: #D1D1DE;         
}

.table tr.unread {
	font-weight: bold;
}

#log {
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
}

.ext-icon-20 {
	font-size:20px;	
}

.navbar {
	margin-bottom: 14px;
}

.table .nowrapcol {
	white-space: nowrap;;
}

.refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


.tab-content {
    height:100vh;   
 }

.debug-tab-container ul.nav-tabs > li > a .glyphicon-remove:hover {
  background: #d39ea3;
  color: white;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

}


.debug-tab-container ul.nav-tabs > li > a .glyphicon-remove {
  color: rgba(119, 119, 119, 0.29);
  display: inline-block;
  padding: 3px;
  font-size: 10px;
  position: absolute;
  z-index: 10;
  top: 7px;
  right: -10px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
